@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    background-color: #ae9cff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    width: 90vmin;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px; 
}

.search-box button{
    padding: 15px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.search-box button:hover{
    background-color: #9881ff;
}

.result{
    position: relative;
}

.result h3{
    font-size: 30px;
    color: #1f194c;
    font-weight: 500;
}

.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning{
    color: #575a7b;
}

.word-example{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}

.error{
    margin-top: 80px;
    text-align: center;
}